main{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 3vh;
    

    font-family: 'lexend';
    color: #f2f2f2;

    img.logo{
        height: 25vh;
        max-height: 258px;
    }
}

.formContainer{
    background-color: #0D1117;
    border: 1px solid #3D444D;
    border-radius: 24px;

    width: 482px;
    height: 506px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


    padding: 32px 36px 48px 36px;

    span:nth-child(1){
        font-size: 36px;
        font-weight: 500;
    }

    form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        gap: 32px;
        
        width: 100%;

        .formInputsWrapper{
            display: flex;
            align-items: center;
            flex-direction: column;

            gap: 48px;

            width: 100%;

            .formInputWrapper{
                display: flex;
                flex-direction: column;

                gap: 14px;

                width: 100%;

                .formInput{
                    
                    position: relative;
                    
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 11px;
                    
                    width: 100%;

                    padding: 0 8px;

                    .imgWrapper{
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        border-radius: 4px;

                        background-color: #090B0D;
                        width: 40px;
                        height: 40px;
                        
                        img{
                            width: 16px;
                        }
                    }

                    img:nth-child(3){
                        position: absolute;
                        right: 16px;

                        height: 21px;

                        top: 50%;
                        transform: translateY(-50%);
                    }

                    img:nth-child(3):hover{
                        cursor: pointer;
                    }

                    input{
                        border: none;
                        background-color: transparent;

                        font-family: 'lexend';
                        font-size: 20px;
                        color: #f2f2f2;

                        padding: 8px 11px;

                        width: 340px;

                        transition: 200ms ease-in-out;
                    }

                    input:focus{
                        outline: none;

                        background-color: #090B0D;
                        border-radius: 4px;
                    }

                    input::placeholder{
                        font-family: 'lexend';

                        color:rgba(61, 68, 77, 0.5);
                        font-size: 20px;
                        font-weight: 400;
                    }
                }

                .inputRow{
                    width: 100%;
                    height: 2px;

                    border-radius: 1px;
                    background-color: rgba(61, 68, 77, 0.5);
                }
            }

            .formInputWrapper:nth-child(2){
                align-items: flex-end;

                input{
                    padding-right: 45px;
                }
                
                span{
                    font-size: 14px;
                    color: rgba(242, 242, 242, 0.5);

                    transition: 200ms ease-in-out;
                }

                span:hover{
                    cursor: pointer;
                    color: #f2f2f2;
                }
            }
        }

        .buttonWrapper{
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 12px;

            width: 100%;

            a{
                text-align: center;
                background-color: rgba(34, 27, 142, 0.75);
                width: 100%;
                border-radius: 12px;
                font-size: 24px;
                padding: 18px 0;

                transition: 200ms ease-in-out;

                text-decoration: none;
                color: #f2f2f2;
            }

            a:visited{
                text-decoration: none;
                color: #f2f2f2;
            }

            a:hover{
                background-color: #221B8E;
            }

            a:active{
                background-color: rgba(34, 27, 142, 0.75);
            }

            span{
                font-size: 14px;
                color: rgba(242, 242, 242, 0.5);


                u{
                    transition: 200ms ease-in-out;
                }
                
                u:hover{
                    cursor: pointer;
                    color: #f2f2f2;
                }
            }
        }
    }
}

